
*{
    margin: 0;
    padding: 0 ;
}

body {
    box-sizing: border-box ;
    font-family: 'poppins' ,sans-serif;
    /* background-color: rgb(0, 0, 0); */
}

img {
    width: 100% ;
}

.dflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticky {
    position: fixed;
    top: 0;
}
/* Header start here */

.container {
    max-width: 1170px ;
    width: 90%; 
    height: 100%;
    margin: 0 auto ;
    border: 1px solid red;
    /* background-color: darkslategrey; */
}
header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(230, 230, 230);
}
/* Header End here */

.hero  {
   
    width: 100%;
    height: 100vh;
    /* background-image: url(assete/img/03.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s ease;

}
/* .hero .box {
    width: 100px ;
    height: 100px;
    background-color: rgb(93, 15, 165);
    position: absolute;
    top:30%;
    left: 20%;
    transform: translate(-50%);
} */
.hero_content {
    /* background-color: brown; */
    text-align: center;
    color: rgb(255, 255, 255);
    z-index:200 ;
}
.hero_content h2 {
    font-size: 3rem;
}
.hero_content p {
    color: rgb(223, 239, 253);
    font-weight: 400;
    font-style: normal;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 143, 187, 0.4);
    position: absolute;
    z-index: 2;
}
nav {
    width: 100%;
    background-color: rgb(5, 148, 153);
    border-radius: 5px ;
    /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); */
    /* display: none; */
    text-align: center;
  transition: all ease;
  z-index: 100;
}
nav ul {
    width: 100%;
    /* background-color: #5c1fac; */
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 30px;

}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;


}
.hero_content::after {
    content: " ";
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    position: absolute;
    top: 10%;
    left: 10%;
}

 /* About us-------- start here */
.about_us_content {
    width: 100%;
    padding: 80px 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;


}
.about_us_heading {
    width: 100% ;
    height: 200px;
    text-align: center;
    align-content: center;
    /* margin-top: 80px; */
    font-size: 3rem;
    color:rgb(5, 148, 153);
}

.about_us_item {
    width: 400px;
    height: 300px;
    /* border-radius: 10px; */
    /* padding: 20px; */
    /* background-color: #5d2be2; */
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom,rgba(150,150,150,0.5), rgb(240, 192, 255),rgb(247, 255, 254),rgb(188, 255, 249));
    color: aliceblue;
    position: relative;
    /* box-shadow: 5px 5px 10px rgb(0, 230, 218); */
    border-image-slice: 1;
}
.about_us_item h3{
    text-align: center;
    padding: 30px;
}
.about_us_item_detaile{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.about_us_item_detaile hr {
    width: 200px;


}
 /* About us-------- End here */
 /* -------------------------------------------------------------- */
 /* our Expert---------  start */

.our_Expert {
    width: 100%;
    height: 100vh;
    background-color: #6b67ff;
}
.our_Expert_content {
    width: 100%;
    height: 100%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.expert_item {
    background-color: rgb(97, 112, 117);
    width: 225px;
    height: 200px;

}
/* our Expert-----------  start */
 /* border-------------------------------------------------------------------Line */
 /* About me-------- start here */

.detaile_me_heading {
    width: 100% ;
    text-align: center ;
    padding: 50px ;
    font-size: 3rem ;
    font-weight: bold ;
    color: rgb(5, 148, 153);
}
.about_me_content{
    width: 100%;
    /* background-color: #ff6767 ; */
    display: flex ;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.detail_me {
    width: 30%;
    /* background-color: blue; */
}
.detail_me h5 {
    color:#6b67ff;
    font-size: 2rem;
}
.my_image {
    width: 40%;
}
 /* About me-------- end here */
 /*----------------------------------------*/
 /* portfolio-------- start here */
 .portfolio {
    width: 100%;
    height: 80vh;
    padding: 70px 0;
    /* background-color: rgb(243, 243, 243); */
 }
 .portfolio_content {
    width: 100%;
    display: flex ;
    padding: 70px 20px;
    /* padding-bottom: 10px; */
    flex-wrap: wrap;
    justify-content: space-around ;
    align-items: center;
    gap: 30px;

 }
 .portfolio_header {
    text-align: center;
    font-size: 3rem;
    color: rgb(5, 148, 153);
    /* padding: 80px 0; */
 }

 .portfolio_item {
    width: 200px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 3px 12px rgb(110, 110, 110);
    transition: all 0.8s ease;
    transform: rotate(10deg);
    overflow: hidden;
 }
 .portfolio_left:hover {
    transform: rotate(0deg);
 }

 .portfolio_item:hover{
    transform: rotate(0);
    transform: scale(1.5);
 }

.portfolio_content_detaile {
    padding: 10px;
}
 @media ( max-width:900px) {
   
}
 /* portfolio-------- End here */
 /* contact-------- start here */
.contact {
    width: 100%;
    padding: 80px 0;
    background-color: rgb(238, 238, 238);
}
.contact_heading {
    text-align: center;
    padding: 80px 0;
    font-size: 3rem;


}
.contact_form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
}
.contact_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contact_left h3 {
    margin-bottom: 20px;
    font-size: 2rem;
        color:rgb(5, 148, 153);
}
.contact_right img {
    width: 400px;
}
.contact_left  input {
    width: 100%;
    height: 30px;
    border: 0;
    outline: none;
    /* text-align: center; */
    font-size: 1rem;
    padding: 10px ;
    color: rgb(71, 71, 71);
    margin-top: 20px;
    border-radius: 5px;
}
.contact_left textarea{
    width: 50%;
    height: 100px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    outline: none;
    padding: 5px;
    color: rgb(80, 80, 80);
}
.contact_left button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-style: normal;
    background:linear-gradient(to right ,rgb(5, 148, 153),#6b67ff);
} 
.contact_right img {
    width: 300px;
    transform: rotate(45deg);
    
}

 @media ( max-width:900px) {
    .contact_right img {
        display: none;
    }
    .contact_left {
           justify-content: center;

    }
}
 /* About us-------- End here */

/* footer area -------start here */
/* Media query -----------here */



/* Media query -----------here */

footer {
    width: 100%;
    height: 50vh;
    color: aliceblue;
    padding: 50px 0;
    background-color: black;
}
.footer_content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer_menu,
.footer_social{
    width: 40%;
}
.footer_heading{
    color: white;
    padding: 40px 0;
    text-align: center;
}
/* footer area -------End here */